---
import Layout from "@layouts/Layout.astro";
import Card from "@components/Card.astro";
import { Icon } from 'astro-icon'
---

<Layout title="Recharged - Über uns">
  <main>
      <div class="home-card bg-secondary text-white py-3">
          <Card title="Über uns">
            <a href="" class="flex justify-center">
              <Icon name="mdi:dropbox" class="w-11"></Icon>
            </a>
          </Card>
          <div class="w-full flex justify-center">
            <div class="flex justify-items-center p-6 min-h-screen sm:max-w-6xl">
              <p class="text-justify text-lg leading-relaxed sm:text-2xl sm:leading-loose">
                Wohl kaum eine Emotion wurde im Laufe des Lebens noch nicht durchlebt. Seien es Euphorie, Stolz und Liebe oder auch Hass, Reue und Hilfslosigkeit. Wir - RECHARGED - bringen diese in unseren englischen Texten zum Vorschein.<br/><br/>
                Man hat uns gesagt, dass is zu wenig, also:<br/><br/>
                Gesanglich dargeboten werden unsere Lieder, als säße ein Chor der besten Singvögel auf dem größten Ast des Nussbaums (lat. Juglans regia) im Garten. Gepaart mit feinstem Rock entsteht ein musikalischer Genuss, bei dem man am liebsten sein Glas Chardonnay mit ordentlich Karacho gegen die Wand schmettern möchte, um gehörig mit einer Menge feurigem Passionsblut abzudancen. Essenziell sind hierbei die E-Gitarren, die wie feine Pinselstriche in einem Drahtseilakt der Ekstase über die Leinwand des Lebens streichen. Doch eine Schwalbe allein macht noch keinen Sommer. Hinzu kommt nämlich der Bass, der wie die Schläge auf einen Amboss die Welt beben lässt und eine Pforte für dicke Beats und fette Vibes öffnet. Diese wird durchschritten von den pompösen Rhythmen des Schlagzeugs, die den roten Teppich für den Schall des geballten Rocks auslegen. Darüber hinweg schwebt die friedliche Klangwolke des Synthesizers, welche durch herab prasselnde, multidimensionale Melodien den Sturm ankündigt. Nämlich RECHARGED. <br/><br/>
                Das alles zu hören, gibt es am Debütalbum „Recharged“.<br/><br/>
                But wait! The best is yet to come!<br/>

              </p>
            </div>
          </div>
        </div>
  </main>
</Layout>

<style>
    .home-card {
      justify-content: center;
      text-align: center;
      width: 100%;
    }
  
    h2, button {
      font-family: Iceberg;
      letter-spacing: 0.17em;
    }
  </style>