---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Recharged - Über uns">
  <main>
      <div class="home-card bg-secondary text-white py-3">
          <Card title="Über uns">
              <div class="p-6 min-h-screen flex flex-col justify-start">
                  <p class="text-justify">
                      Wir sind vier weinviertler Musiker zwischen 17 und 21 Jahren und musizieren in dieser Formation seit 4 Jahren miteinander. Mittlerweile haben wir schon mehrere Eigenkompositionen im Repertoire und können auf einige erfolgreiche Auftritte zurückblicken. Im Besonderen konnten wir uns gegen 11 Mitbewerber beim Music•Maker 2020 durchsetzen und den Sieg des Bandwettbewerbs erringen.
  Zu den anfangs klassischen Rockklängen mischen sich nun Elemente aus dem Punkrock, Pop, Funk und Synthesizer-Klänge. Musikalisch reicht unsere Bandbreite vom harten Rocksound bis zur gefühlvollen Ballade. In unseren englischsprachigen Texten verarbeiten wir sozialkritische Themen, Trauer, Schmerz und Liebe. Das Programm für den Abend setzt sich aus Eigeninterpretationen bekannter Songs und eigenen Liedern zusammen. Vielleicht werden wir auch die eine oder andere Weltpremiere zum Besten geben.
  Wir freun uns auf euer Kommen. Und wie immer: Es wird wuuunderbar ;) Eure Recharged
                  </p>
              </div>
          </Card>
        </div>
  </main>
</Layout>

<style>
    .home-card {
      justify-content: center;
      text-align: center;
      width: 100%;
    }
  
    h2, button {
      font-family: Iceberg;
      letter-spacing: 0.17em;
    }
  </style>