---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="flex justify-center content-center w-full">
      <img src="./images/title_pic.jpg" class="title-img object-fill object-center" alt="Title picture. Four musicians playing.">
    </div>
  </main>
</Layout>

<style>
img {
  width: 100%;
  height: auto;
}
</style>