---
import Layout from "@layouts/Layout.astro";
import Transition from "@components/Transition.astro";
import Card from "@components/Card.astro";
import YouTubePreview from "@components/YouTubePreview.astro";
import Dates from "@components/Dates.astro";
import InstagramPost from "@components/InstagramPost.astro";
import ImageCarousel from "@components/ImageCarousel.astro";
import BookNowButton from "@components/BookNowButton.astro";
import PersonGallery from "@components/PersonGallery.astro";
---

<Layout title="Recharged">
  <main>
    <div class="flex justify-center content-center bg-cover bg-[url('/images/background.jpg')] sm:max-h-128 w-full">
      <img src="/images/title_pic.png" class="object-center object-scale-down" alt="Title picture. Four musicians."/>
    </div>

    <div id="hearing" class="home-card bg-secondary text-white py-3">
      <Card title="Hörprobe">
        <YouTubePreview>
          
        </YouTubePreview>
      </Card>
    </div>

    <Transition bottomColor="white" topColor="#2e2e2e"/>

    <div class="home-card bg-white text-secondary py-3">
      <Card title="Instagram">
        <InstagramPost>
          
        </InstagramPost>
      </Card>
    </div>

    <Transition bottomColor="#2e2e2e" topColor="white"/>

    <div class="home-card bg-secondary text-white py-3">
      <Card title="Bilder">
        <ImageCarousel />
      </Card>
    </div>

    <Transition bottomColor="white" topColor="#2e2e2e"/>

    <div id="dates" class="home-card bg-white text-secondary py-3">
      <Card title="Auftritte">
        <Dates>
          
        </Dates>
      </Card>
    </div>

    <Transition bottomColor="#2e2e2e" topColor="white"/>

    <div class="home-card bg-secondary text-white py-3">
      <Card title="Die Band">
        <PersonGallery />
      </Card>
    </div>

    <div class="home-card bg-secondary text-white py-3">
      <!--<ImageCarousel path="/images/carousel" />-->
    </div>

    <div class="home-card bg-secondary text-white py-3">
      <div class="flex flex-col justify-center gap-2">
        <h2 class="text-center text-2xl sm:text-4xl pb-2">
          Interesse geweckt?
        </h2>
        <BookNowButton />
      </div>
    </div>
  </main>
</Layout>

<style>
  .home-card {
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  h2, button {
    font-family: Iceberg;
    letter-spacing: 0.17em;
  }
</style>