---
import { email_address } from '../constants/socials';
---

<a href={ "mailto:" + email_address }>
    <button class="bg-primary px-3 sm:px-5 py-2.5 box-shadow transition ease-in-out  duration-300">
      Jetzt anfragen
    </button>
</a>

<style>
a {
    font-family: "Iceberg";
    font-size: larger;
  }
</style>