---
export interface Props {
  title: string;
}

const { title } = Astro.props;

---
<div>
  <h1 class="text-center">
    { title }
  </h1>
  <slot class="flex justify-center align-center"/>
</div>

<style>
  h1 {
    font-family: Recharged;
    font-size: 48px;
    letter-spacing: 0.17em;
  }
</style>