---
export interface Props {
  title: string;
}

const { title } = Astro.props;

---
<h1 class="text-center text-3xl sm:text-7xl sm:py-5 py-1">
  { title }
</h1>
<slot/>

<style>
  h1 {
    font-family: Iceberg;
    font-size: 72px;
    letter-spacing: 12.24px;
  }
</style>