---
//const dates:Array<string> = ["Hello", "There", "General", "Kenobi"]

interface Gig {
    day: string;
    name: string;
    city: string;
    link?: string;
}

import json from '../pages/dates/dates.json';

const dates = await Astro.glob('../pages/dates/dates.json');
let datesJson = json as Array<Gig>;

---

<div class="flex justify-center">
    <ul class="flex flex-col justify-around p-4 w-full sm:max-w-5xl">
        { datesJson.map((date, index) => (
            index + 1 === datesJson.length ? 
                <a href={ date.link } target="_blank" rel="noopener noreferrer">
                    <li class="flex flex-row gap-1 sm:gap-10 justify-around py-2 sm:py-4 sm:px-4 px-1 inline-block text-md sm:text-3xl justify-center items-center transition ease-in-out hover:scale-105 duration-300">
                        <p class="min-w-min">
                            { date.day }
                        </p>
                        <p class="sm:w-1/3 w-1/4"> 
                            { date.name }
                        </p>
                        <p class="sm:w-1/3 w-1/4">
                            { date.city }
                        </p>
                    </li>
                </a>
                
                :
                <a href={ date.link } target="_blank" rel="noopener noreferrer">
                    <li class="flex flex-row gap-1 sm:gap-10 justify-around py-2 sm:py-4 sm:px-4 px-1 inline-block text-md sm:text-3xl justify-center items-center transition ease-in-out hover:scale-105 duration-300">
                        <p class="min-w-min">
                            { date.day }
                        </p>
                        <p class="sm:w-1/3 w-1/4"> 
                            { date.name }
                        </p>
                        <p class="sm:w-1/3 w-1/4">
                            { date.city }
                        </p>
                    </li>
                </a>
                <hr class="border-1 sm:border-2 border-secondary"/>
        )
            )
        }
    </ul>
</div>

<style>
    li {
        font-family: Iceberg;
    }

    p {
        display:inline;
        word-break: break-word;;
    }
</style>