---
//const dates:Array<string> = ["Hello", "There", "General", "Kenobi"]

interface Gig {
    day: string;
    name: string;
    city: string;
    link?: string;
}

import json from '../pages/dates/dates.json';

const dates = await Astro.glob('../pages/dates/dates.json');
let datesJson = json as Array<Gig>;

---

<div class="flex justify-center">
    <ul class="flex flex-col justify-center p-4 w-full sm:max-w-5xl">
        { datesJson.map((date, index) => (
            index + 1 === datesJson.length ? 
                <a href={ date.link } >
                    <li class="grid grid-rows-1 grid-cols-3 py-4 inline-block text-md sm:text-3xl justify-items-center justify-center text-center">
                        <p>
                            { date.day }
                        </p>
                        <p> 
                            { date.name }
                        </p>
                        <p>
                            { date.city }
                        </p>
                    </li>
                </a>
                
                :
                <a href={ date.link } >
                    <li class="grid grid-rows-1 grid-cols-3 py-4 inline-block text-md sm:text-3xl justify-items-center justify-center text-center">
                        <p>
                            { date.day }
                        </p>
                        <p> 
                            { date.name }
                        </p>
                        <p>
                            { date.city }
                        </p>
                    </li>
                </a>
                <hr class="border-1 sm:border-2 border-secondary"/>
        )
            )
        }
    </ul>
</div>

<style>
    li {
        font-family: Iceberg;
    }

    p {
        display:inline;
        word-wrap: break-word;
    }
</style>