---
import Socials from "./Socials.astro";
---

<footer class="bg-secondary text-white w-full p-2">
  <div class="container sm:w-1/2 h-auto text-center">
    <Socials/>
    <p>
      Recharged | 2023
    </p>
  </div>
  
</footer>

<style>
  footer {
    font-family: "Iceberg";
    font-size: x-large;
    letter-spacing: 0.17em;
  }
</style>