---
import Socials from "./Socials.astro";
import { email_address } from '../constants/socials';
---

<footer class="bg-secondary text-white w-full p-2">
  <div class="container sm:w-1/2 h-auto text-center">
    <Socials/>
    <p class="hidden sm:block">
      Recharged | 2023 | <a href={ "mailto:" + email_address }>{email_address}</a>
    </p>

    <p class="block sm:hidden">
      Recharged | 2023 
      <p class="break-words text-xl py-2 block sm:hidden">
        <a class="block sm:hidden" href={ "mailto:" + email_address }>{email_address}</a>
      </p>
    </p>

    <p class="hidden sm:block text-center text-sm">
      <a href="/impressum">Impressum</a> | Entworfen und erstellt von Michael Brunner mit <a href="https://astro.build">astro</a>
      <!-- Open Banner again -->
      <a class="block text-center text-sm pt-3 cursor-pointer" onclick="document.dispatchEvent(new Event('cookie_consent_show'))">
        Cookie Consent Settings
      </a>
    </p>

    <p class="block sm:hidden text-center text-sm py-2">
      <a href="/impressum">Impressum</a>
      <p class="block sm:hidden text-center text-sm">Entworfen und erstellt von Michael Brunner mit <a href="https://astro.build">astro</a></p>
      <!-- Open Banner again -->
      <a class="block sm:hidden text-center text-sm pt-3 cursor-pointer" onclick="document.dispatchEvent(new Event('cookie_consent_details_show'))">
        Cookie Consent Settings
      </a>
    </p>

    
    
  </div>
  
</footer>

<style>
  footer {
    font-family: "Iceberg";
    font-size: x-large;
    letter-spacing: 0.17em;
  }
</style>