---
import Socials from "./Socials.astro";
---

<footer class="bg-secondary text-white flex justify-center">
  <div class="grid justify-center p-3 gap-3">
    <div class="text-center">
      <p>
        Recharged | 2023
      </p>
    </div>
    <Socials/>
  </div>
</footer>

<style>
  footer {
    font-family: "Iceberg";
    font-size: x-large;
  }
</style>