---
const images = await Astro.glob("/public/images/carousel/*.(png|jpg|jpeg)");
import { Image } from "@astrojs/image/components";
---

<script>
  // core version + navigation, pagination modules:
  import Swiper, { Navigation, Pagination } from "swiper";
  // import Swiper and modules styles
  import "swiper/css";
  import "swiper/css/navigation";
  import "swiper/css/pagination";

  let swiper = new Swiper(".mySwiper", {
    modules: [Navigation, Pagination],

    keyboard: {
      enabled: true,
    },

    loop: true,
    // If we need pagination
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },

    // Navigation arrows
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },

    grabCursor: true,
  });
</script>

<style>
  div.swiper-button-prev,
  div.swiper-button-next {
    color: var(--bg-secondary);
  }

  .swiper-pagination-bullet-active {
    background-color: #f00 !important;
  }
</style>

<link
  rel="stylesheet"
  href="https://unpkg.com/swiper@9/swiper-bundle.min.css"
/>
<div class="flex justify-items-center justify-center">
  <div
    class="swiper mySwiper flex w-full max-h-halfscreen sm:max-w-4xl sm:max-h-128"
    style="--swiper-pagination-color: #d07600; --swiper-pagination-bullet-inactive-color: #ffffff; --swiper-pagination-bullet-size: 12px"
  >
    <div class="swiper-wrapper">
      {
        images.map((image, index) => (
          <div
            class={
              "swiper-slide w-full justify-center" +
              " slide_" +
              index.toString()
            }
          >
              <Image
                alt={image.default}
                src={image.default}
                id={"carousel-item-" + index}
                class="object-contain h-full"
              />
          </div>
        ))
      }
    </div>

    <div
      class="swiper-pagination"
      style=""
    >
    </div>

    <div class="swiper-button-prev swiper-button-white"></div>
    <div class="swiper-button-next swiper-button-white"></div>
  </div>
</div>

<!--
<div class="flex justify-items-center justify-center">
  <section
    class="splide flex w-full max-h-halfscreen sm:max-w-4xl sm:max-h-128"
    aria-label="Splide Image Carousel"
  >
    <div class="splide__track">
      <ul class="splide__list">
        {
          images.map((image, index) => (
            <li class="splide__slide justify-center flex p-5">
              <Image
                alt={image.default}
                src={image.default}
                id={"carousel-item-" + index}
                class="pb-2"
              />
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</div>
 -->
