---
const images = await Astro.glob("/public/images/carousel/*.(png|jpg|jpeg)");
import { Image } from '@astrojs/image/components';

function getLastImageID() {
  return images.length;
}

function getNextImageID(current: number) {
  let nextID = current + 1
  if (nextID >= getLastImageID()) {
    return 0;
  }
  else {
    return nextID;
  }
}

function getPreviousImageID(current: number) {
  let prevID = current - 1
  if (prevID < 0) {
    return getLastImageID() - 1;
  }
  else {
    return prevID;
  }
}

---

<div class="flex justify-items-center justify-center">
  <div class="flex carousel w-full max-h-halfscreen sm:max-w-4xl sm:max-h-128">

    {images.map((image, index) => (
      <div id={ index.toString() } class="carousel-item relative w-full justify-center overflow-visible">
        <Image alt={ image.default } src={ image.default } class="object-contain"/>
        <div class="absolute flex justify-between transform -translate-y-1/2 left-3 right-3 top-1/2">
          <a href={ '#' + getPreviousImageID(index).toString() } class="btn btn-circle">❮</a> 
          <a href={ '#' + getNextImageID(index).toString() } class="btn btn-circle">❯</a>
        </div>
      </div>
    ))}

  </div>
</div>