---
export interface Person {
    name: string;
    imageSrc: string;
    position: string;
}
---

<div class="flex flex-col w-full h-auto bg-secondary text-white transition ease-in-out hover:scale-105 duration-300">
    <img src="/images/band/benni.jpg" />
    <div class="flex flex-col gap-2.5 justify-center items-center p-3">
        <h1 class="text-xl ">Benjaming Erpl</h1>
        <h2 class="text-lg">Gitarre</h2>
    </div>
</div>

<style>
    h2 {
        font-family: Iceberg;
    }
</style>