---
import { AstroComponentInstance } from "astro/dist/runtime/server";

export interface Person {
    name: string;
    imageSrc: string;
    position: string;
}

const { name, imageSrc, position } = Astro.props as Person;
---

<div class="flex flex-col w-full h-auto bg-secondary text-white shadow-sm">
    <img src={ imageSrc } />
    <div class="flex flex-col gap-2.5 items-center justify-center p-3 h-full">
        <h1 class="sm:text-2xl text-lg">{ name }</h1>
        <h2 class="sm:text-xl text-md">{ position }</h2>
    </div>
</div>

<style>
    h2 {
        font-family: Iceberg;
    }
</style>