---
import PersonCard from "./PersonCard.astro";

---
<div class="flex justify-center">
    <div class="grid row-auto grid-cols-2 sm:grid-cols-4 items-center justify-items-center gap-3 p-4 w-full sm:max-w-6xl">
        <PersonCard />
        <PersonCard />
        <PersonCard />
        <PersonCard />
    </div>
</div>
