---
import PersonCard from "./PersonCard.astro";

---
<div class="flex justify-center">
    <div class="grid row-auto items-stretch grid-cols-2 sm:grid-cols-4 items-center justify-items-center gap-3 p-4 w-full sm:max-w-6xl">
        <PersonCard name="Benjamin Koci" imageSrc="/images/band/benjamin.jpg" position="Gitarre / Gesang" />
        <PersonCard name="Michael Brunner" imageSrc="/images/band/michael.jpg" position="Gesang / Keyboard"/>
        <PersonCard name="Felix Stefan" imageSrc="/images/band/felix.jpg" position="Schlagzeug"/>
        <PersonCard name="Simon Koci" imageSrc="/images/band/simon.jpg" position="Bass"/>
    </div>
</div>