---
export interface Props {
  title: string;
}

const { title } = Astro.props;

import "../styles/globalStyle.astro";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import CookieConsent from "@components/CookieConsent.astro";
import { SEO } from "astro-seo";
---

<!DOCTYPE html>
<html lang="de" class="scroll-smooth">
  <head>
    <SEO
      title="Recharged - Bandwebsite"
      description="Wir sind Recharged, eine alternative Rockband aus Niederösterreich."
      openGraph={{
        basic: {
          title: "Recharged - Bandwebsite",
          type: "Bandwebsite",
          image: "https://www.recharged.at/images/Schriftzug_trans_white.png",
          url: "recharged.at",
        },
        optional: {
          locale: "de_AT",
        },
        image: {
          alt: "A thunderstorming circle that contains a lightningbolt and a text saying Recharged.",
        },
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/favicon.ico" }],
      }}
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body>
    <Header />
    <slot />
    <Footer />
    <CookieConsent />
    <script
      is:inline
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"
    ></script>
  </body>
  
  <style>
    nav {
      font-family: "Iceberg";
      font-size: larger;
    }
  </style>
</html>
