---
export interface Props {
  title: string;
}

const { title } = Astro.props;

import '../styles/globalStyle.astro';
import Footer from '@components/Footer.astro';
import Header from '@components/Header.astro';
import { SEO } from "astro-seo";
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <SEO
      title="Recharged - Bandwebsite"
      description="Bandwebsite for the alternative rockband Recharged, that is located in Mistelbach, loweraustria, near vienna. Eine Alternativ-Rockband aus dem Weinviertel / Mistelbach, die in Wien und Umgebung spielen."
      openGraph={{
        basic: {
          title: "A Very Descriptive Title",
          type: "A type.",
          image: "https://www.recharged.at/images/Schriftzug_trans_white.png",
          url: "recharged.at",
        },
        optional: {
          locale: "de_AT"
        },
        image: {
          alt: "A thunderstorming circle that contains a lightningbolt and a text saying Recharged."
        }
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/favicon.ico" }],
      }}
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel='icon' type='image/png' href='images/Logo_trans_white_small.png'>
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header/>
    <slot />
    <Footer/>
  </body>

  
</html>