---
import Layout from "@layouts/Layout.astro";
import Card from "@components/Card.astro";
const {frontmatter} = Astro.props;
---

<Layout title={"Recharged - " + frontmatter.title}>
  <main>
      <div class="home-card bg-secondary text-white py-3">
          <Card title={frontmatter.title}>
          </Card>
          <div class="w-full flex justify-center">
            <div class="flex justify-items-center p-6 min-h-screen sm:max-w-6xl">  
              <div class="text-justify text-lg sm:text-2xl">
                <slot/>
              </div>
            </div>
          </div>
        </div>
  </main>
</Layout>

<style>
    .home-card {
      justify-content: center;
      text-align: center;
      width: 100%;
    }
  
    h2, button {
      font-family: Iceberg;
      letter-spacing: 0.17em;
    }
  </style>